img {
	max-height: 90vh;
	max-width: 90vw;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
main > p {
	font-family: 'Indie Flower', cursive;
	font-size: 8vw;
	margin: 0px;
	border: 0px;
	padding: 0px;
}